.examples {
  padding-bottom: var(--margin-padding-witch-block);
}
.examples__title {
  color: var(--second-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--margin-title-bottom);
}

.examples__images {
  list-style: none;
}
.examples__item {
}
.example__container {
  position: relative;
  width: 370px;
  height: 294px;
}
.examples__image {
  width: var(--width-card-thick);
}

.example__conteiner-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));

  align-items: center;
  justify-content: center;
}
.example__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-first-text-color);
}
