.container {
  // width: calc(100% - 30px);
  @include tab-max {
    padding-left: 15px;
    padding-right: 15px;
  }

  max-width: 480px;
  margin: 0 auto;
  // width: 1200px;
  // padding-left: 15px;
  // padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;
  @include tab {
    max-width: 768px;
  }

  @include desk {
    max-width: 1170px;
  }
}
